aiosignal==1.3.1
alabaster==0.7.13
asgiref==3.7.2
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==22.3.0
boolean.py==4.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
commoncode==31.0.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==41.0.4
cvss==2.6
cwe2==2.0.0
dateparser==1.1.8
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
Django==4.2.5
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
django-environ==0.11.2
django-filter==23.3
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
doc8==1.1.1
docker==6.1.3
dockerpty==0.4.1
docopt==0.6.2
docutils==0.20.1
drf-spectacular[drf-spectacular-sidecar]==0.26.5
drf-spectacular-sidecar==2023.9.1
exceptiongroup==1.1.3
executing==1.2.0
fetchcode==0.2.0
freezegun==1.2.2
frozenlist==1.4.0
gitdb==4.0.10
GitPython==3.1.37
gunicorn==21.2.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
inflection==0.5.1
iniconfig==2.0.0
ipython==8.15.0
isort==5.12.0
itypes==1.2.0
jedi==0.19.0
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
license-expression==30.1.1
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
multidict==6.0.4
mypy-extensions==1.0.0
packageurl-python==0.11.2
packaging==23.1
paramiko==3.3.1
parso==0.8.3
pathspec==0.11.2
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.10.0
pluggy==1.3.0
pprintpp==0.4.0
prompt-toolkit==3.0.39
psycopg2-binary==2.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.11.0
pycparser==2.21
Pygments==2.16.1
PyNaCl==1.5.0
pyparsing==3.1.1
pyrsistent==0.19.3
pytest==7.4.2
pytest-django==4.5.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
regex==2022.3.2
requests==2.31.0
restructuredtext-lint==1.4.0
rpds-py==0.10.3
saneyaml==0.6.0
semantic-version==2.10.0
semver==3.0.1
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-django==2.5
sphinxcontrib-django2==1.9
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sqlparse==0.4.4
stack-data==0.6.2
stevedore==5.1.0
text-unidecode==1.3
texttable==1.6.7
toml==0.10.2
tomli==2.0.1
traitlets==5.10.1
typing_extensions==4.8.0
tzlocal==5.0.1
univers==30.11.0
uritemplate==4.1.1
urllib3==2.0.5
wcwidth==0.2.6
websocket-client==1.6.3
yarl==1.9.2
zipp==3.17.0
